.map-line,
.map-block {
    box-shadow: 0 0 4px rgba(0,0,0,.15);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white);
}
.map-line {
    height: 165px;
    margin: 0 0 30px;
}