.page-sub-head {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    color: var(--gray2);
    font-size: 14px;
    justify-content: space-between;
}

@include media-breakpoint-down(md)
{
    .page-sub-head__mobile-hide {
        display: none;
    }
}