.page-head {
    display: flex;
    align-items: center;
    margin: 0 0 45px;

    &_small-margin {
        margin: 0 0 15px;
    }
    &__title {
        margin: 0;
    }
    &__count {
        margin: 10px 0 0 10px;
    }
    &__btn {
        margin: 0 0 0 auto;
    }
    &__status {
        font-size: 12px;
        line-height: 14px;
        color: var(--gray3);
        margin: 0 0 0 20px;
        padding: 0 0 0 15px;
        position: relative;

        &:before {
            content: "";
            height: 7px;
            width: 7px;
            position: absolute;
            left: 0;
            top: 50%;
            border-radius: 50%;
            transform: translate(0, -50%);
        }
        &_online:before {
            background-color: var(--green);
        }
        &_offline:before {
            background-color: var(--red);
        }
    }
}