.tabs-panel {
    background-color: var(--white);
    border: 1px solid var(--red);
    box-shadow: 0 0 2px rgba(170,108,28,.5);
    border-radius: 5px;
    display: inline-flex;
    margin: 0 0 20px;

    &__tab {
        font-size: 18px;
        line-height: 48px;
        color: var(--black);
        text-decoration: none;
        padding: 0 20px;
        border-right: 1px solid var(--red);

        &:last-child {
            border: none;
        }
        &:hover {
            color: var(--white);
            background-color: var(--red-light);
        }
        &_active,
        &_active:hover {
            background-color: var(--red);
            color: var(--white);
        }
    }
}