.apartment-detail {
    display: flex;

    &__block {
        width: 660px;
        margin: 0 25px 0 0;
    }
    &__aside {
        width: 235px;
    }
}

@include media-breakpoint-down(md)
{
    .apartment-detail {
        flex-direction: column;

        &__block {
            width: 100%;
            order: 2;
        }
        &__aside {
            width: 100%;
            order: 1;
        }
    }
}

.apartment-detail-one {
    display: flex;
    padding: 0 0 35px;
    margin: 0 0 35px;
    border-bottom: 1px solid var(--gray5);

    &__left {
        width: 260px;
        padding: 0 35px 0 0;
    }
    &__right {
        width: calc(100% - 260px);
    }
}

@include media-breakpoint-between(sm, md)
{
    .apartment-detail-one {
        justify-content: space-between;

        &__left {
            width: calc(50% - 10px);
            padding: 0;
        }
        &__right {
            width: calc(50% - 10px);
        }
    }
}
@include media-breakpoint-only(xs)
{
    .apartment-detail-one {
        flex-direction: column;

        &__left,
        &__right {
            width: 100%;
            padding: 0;
        }
    }
}

.apartment-detail-two {
    display: flex;
    padding: 0 0 35px;
    margin: 0 0 35px;
    border-bottom: 1px solid var(--gray5);

    &__left {
        width: 260px;
        padding: 0 35px 0 0;
    }
    &__right {
        width: calc(100% - 260px);
    }
}

@include media-breakpoint-between(sm, md)
{
    .apartment-detail-two {
        flex-direction: column;

        &__left {
            width: 100%;
            padding: 0 0 25px;
        }
        &__right {
            width: 100%;
        }
    }
}
@include media-breakpoint-only(xs)
{
    .apartment-detail-two {
        flex-direction: column;

        &__left,
        &__right {
            width: 100%;
            padding: 0;
        }
    }
}

.apartment-place {

    &__link {
        font-size: 18px;
        line-height: 21px;
        margin: 0 0 5px;
        display: inline-block;
    }
    &__desc {
        font-size: 14px;
        line-height: 16px;
        color: var(--gray2);
    }
    &__addr {
        margin: 20px 0 10px;
    }
}

@include media-breakpoint-between(sm, md)
{
    .apartment-place {
        display: flex;
        justify-content: space-between;

        &__left,
        &__right {
            width: calc(50% - 10px);
        }
        &__addr {
            margin: 0 0 5px;
        }
    }
}
@include media-breakpoint-only(xs)
{
    .apartment-place {
        margin: 0 0 25px;
    }
}

.apartment-detail-comfort {
    padding: 0 0 35px;
    margin: 0 0 35px;
    border-bottom: 1px solid var(--gray5);

    &__hide:not(.active) {
        display: none;
    }
}

.apartment-detail-text {
    margin: 0 0 15px;

    &__hide:not(.active) {
        height: 38px;
        overflow: hidden;
    }
}

.apartment-detail__show-all {
    display: inline-block;
    margin: 20px 0 0;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    padding: 0 15px 0 0;

    &:hover {
        text-decoration: underline;
    }
    &:after {
        content: "";
        border-left: 1px solid var(--blue);
        border-bottom: 1px solid var(--blue);
        position: absolute;
        height: 6px;
        width: 6px;
        transform: rotate(-45deg);
        right: 0;
        top: 50%;
        margin: -4px 0 0;
    }
    &_active:after {
        transform: rotate(-225deg);
        margin: -2px 0 0;
    }
}