.apartment-slider {
    width: 2020px;
    margin: 0 0 40px;

    &__slider {
        overflow: visible;
    }
    &__slide {
        opacity: .3;
        transition: all .3s linear;

        &_active {
            opacity: 1;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__img {
        display: block;
    }
    &__prev,
    &__next {
        width: 43px;
        position: absolute;
        top: 50%;
        z-index: 10;
        transform: translate(0, -50%);
    }
    &__prev {
        left: -80px;
    }
    &__next {
        left: 695px;
    }
    &__str {
        width: 43px;
        height: 8px;
        stroke: var(--gray2);
        fill: transparent;
        transition: all .3s linear;
    }
    &__prev:hover,
    &__next:hover {

        & .apartment-slider__str {
            stroke: var(--red);
        }
    }
}

@include media-breakpoint-down(md)
{
    .apartment-slider {

        &__prev,
        &__next {
            display: none;
        }
    }
}
@include media-breakpoint-only(sm)
{
    .apartment-slider {
        width: 910px;
    }
}
@include media-breakpoint-only(xs)
{
    .apartment-slider {
        width: 100%;
    }
}