<% var data = {
    title: "Taptoru - Объект недвижимости"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<a href="javascript:;" class="main-main__back">← на главную страницу</a>    

<div class="page-head page-head_small-margin">
    <h1 class="page-head__title">1-к квартира на ул. Габишева</h1>
</div>

<div class="page-sub-head">
    <span>
        Создано 23 ноября 2016 года&nbsp;&nbsp;●&nbsp;&nbsp;2563 просмотров
    </span>
    <span class="page-sub-head__mobile-hide">
        <a href="javascript:;" class="favorite-btn">
            <svg>
                <use xlink:href="/local/img/sprite.svg#icon-favorite"></use>
            </svg>
            Добавить в избранные
        </a>
    </span>
</div>

<div class="apartment-slider">
    <div class="apartment-slider__slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide apartment-slider__slide">
                <img class="apartment-slider__img" src="/local/upload/apartment.slide1.jpg" alt="">
            </div>
            <div class="swiper-slide apartment-slider__slide">
                <img class="apartment-slider__img" src="/local/upload/apartment.slide2.jpg" alt="">
            </div>
            <div class="swiper-slide apartment-slider__slide">
                <img class="apartment-slider__img" src="/local/upload/apartment.slide3.jpg" alt="">
            </div>
            <div class="swiper-slide apartment-slider__slide">
                <img class="apartment-slider__img" src="/local/upload/apartment.slide4.jpg" alt="">
            </div>
        </div>
        <a href="javascript:;" class="apartment-slider__prev">
            <svg class="apartment-slider__str">
                <use xlink:href="/local/img/sprite.svg#arrow-prev"></use>
            </svg>
        </a>
        <a href="javascript:;" class="apartment-slider__next">
            <svg class="apartment-slider__str">
                <use xlink:href="/local/img/sprite.svg#arrow-next"></use>
            </svg>       
        </a>
    </div>
</div>

<div class="apartment-detail">
    <div class="apartment-detail__block">

        <div class="apartment-detail-one">
            <div class="apartment-detail-one__left">

                <table class="table-first">
                    <tr>
                        <td class="table-first__prop">Общая площадь</td>
                        <td class="table-first__value">42 м2</td>
                    </tr>
                    <tr>
                        <td class="table-first__prop">Жилая площадь</td>
                        <td class="table-first__value">35 м2</td>
                    </tr>
                    <tr>
                        <td class="table-first__prop">Площадь кухни</td>
                        <td class="table-first__value">12 м2</td>
                    </tr>
                </table>

            </div>
            <div class="apartment-detail-one__right">

                <table class="table-first">
                    <tr>
                        <td class="table-first__prop">Количество комнат</td>
                        <td class="table-first__value">1-комнатная</td>
                    </tr>
                    <tr>
                        <td class="table-first__prop">Этажность</td>
                        <td class="table-first__value">5 из 16</td>
                    </tr>
                    <tr>
                        <td class="table-first__prop">Тип дома</td>
                        <td class="table-first__value">кирпичный</td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="apartment-detail-one">
            <div class="apartment-detail-one__left">

                <div class="apartment-place">
                    <a href="javascript:;" class="apartment-place__link">м. Славянский бульвар</a>
                    <div class="apartment-place__desc">15 минут пешком</div>
                    <div class="apartment-place__addr">г. Казань, Приволжский район, ул. Габишева, 57</div>
                    <div class="apartment-place__desc">ЖК Город</div>
                </div>

            </div>
            <div class="apartment-detail-one__right">

                <div class="map-block">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3d79c7d81e2d2bb86febc98c685d15871cce13e1fd1d95297c90a508038a3bdd&amp;width=100%&amp;height=200&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>

            </div>
        </div>

        <div class="apartment-detail-comfort">

            <div class="apartment-detail-comfort__show">
                <div class="comfort-list comfort-list_columns">
                    <div class="comfort-list__item comfort-list__icon1">Балкон/лоджия</div>
                    <div class="comfort-list__item comfort-list__icon2">Лифт</div>
                    <div class="comfort-list__item comfort-list__icon3">Газ</div>
                    <div class="comfort-list__item comfort-list__icon4">Мусоропровод</div>
                    <div class="comfort-list__item comfort-list__icon5">Пандусы</div>
                    <div class="comfort-list__item comfort-list__icon6">Телевизор</div>
                    <div class="comfort-list__item comfort-list__icon7">Стиралка</div>
                    <div class="comfort-list__item comfort-list__icon8">Мебель</div>
                    <div class="comfort-list__item comfort-list__icon9">Холодильник</div>
                    <div class="comfort-list__item comfort-list__icon10">Кондиционер</div>
                </div>
            </div>
            <div class="apartment-detail-comfort__hide">
                <div class="comfort-list comfort-list_columns">
                    <div class="comfort-list__item comfort-list__icon1">Балкон/лоджия</div>
                    <div class="comfort-list__item comfort-list__icon2">Лифт</div>
                    <div class="comfort-list__item comfort-list__icon3">Газ</div>
                    <div class="comfort-list__item comfort-list__icon4">Мусоропровод</div>
                    <div class="comfort-list__item comfort-list__icon5">Пандусы</div>
                    <div class="comfort-list__item comfort-list__icon6">Телевизор</div>
                    <div class="comfort-list__item comfort-list__icon7">Стиралка</div>
                    <div class="comfort-list__item comfort-list__icon8">Мебель</div>
                    <div class="comfort-list__item comfort-list__icon9">Холодильник</div>
                    <div class="comfort-list__item comfort-list__icon10">Кондиционер</div>
                </div>
            </div>
            <a href="javascript:;" class="apartment-detail__show-all">Показать все удобства</a>

        </div>

        <div class="apartment-detail-text">
            <div class="apartment-detail-text__hide">
                Все есть, стиралка, телек, кухня в порядке, оплачивать каждый месяц 15 числа, рядом метро горки, платежеспособным студентам без в/п Все есть, стиралка, телек, кухня в порядке, оплачивать каждый месяц 15 числа, рядом метро горки, платежеспособным студентам без в/п
            </div>
            <a href="javascript:;" class="apartment-detail__show-all">Читать описание полностью</a>
        </div>

        <div class="tags">
            <a href="javascript:;" class="tags__link">#теги</a>
            <a href="javascript:;" class="tags__link">#теги</a>
            <a href="javascript:;" class="tags__link">#тегидлинные</a>
            <a href="javascript:;" class="tags__link">#тегидлинныеикороткие</a>
        </div>

        <div class="share-complaint">
            <div class="share-complaint__share">
                <div class="share-complaint__share-title">Поделиться</div>

                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>

                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki"></div>
            </div>
            <div>
                <a class="share-complaint__complaint" href="javascript:;">Пожаловаться на объявление</a>
            </div>
        </div>

    </div>
    <aside class="apartment-detail__aside">

        <div class="apartment-aside">
            <div class="apartment-aside__price">15 000 руб/мес</div>
            <div class="apartment-aside__info">
                без к/у&nbsp;&nbsp;●&nbsp;&nbsp;залог на месяц
            </div>
            <div class="user-aside">
                <div class="user-aside__pict">
                    <img class="user-aside__img" src="/local/upload/user.list.jpg" alt="">
                </div>
                <div class="user-aside__info">
                    <div class="user-aside__name">Иван Иванов</div>
                    <div class="user-aside__status user-aside__status_online">в сети</div>
                </div>
            </div>
            <a href="javascript:;" class="btn btn-full-width btn-white">Написать сообщение</a>
            <div class="user-aside-btn">
                <a href="javascript:;" class="btn btn-full-width btn-lg btn-red">Показать все контакты</a>
                <div class="user-aside-btn__link">
                    Требуется <a href="javascript:;">подписка</a>
                </div>
            </div>
        </div>

    </aside>
</div>

<% var data = {
    title: "ПОХОЖИЕ ОБЪЯВЛЕНИЯ"
}; %>

<%= _.template(require('./../includes/apartment_more.html'))(data) %>

<div class="map-line">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3d79c7d81e2d2bb86febc98c685d15871cce13e1fd1d95297c90a508038a3bdd&amp;width=100%&amp;height=165&amp;lang=ru_RU&amp;scroll=true"></script>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>