<% var data = {
    title: "Taptoru - Элементы"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Регистрация</h1>

<div class="main-main__short-block">

    <div class="form-one">
        <div class="form-one__line">
            <label class="form-one__label">Ваше имя</label>
            <input class="form-one__input" type="text" placeholder="Как вас зовут" value="">
        </div>
        <div class="form-one__line">
            <label class="form-one__label">Ваш e-mail</label>
            <input class="form-one__input" type="email" placeholder="Ваша электронная почта" value="">
        </div>
        <div class="form-one__line">
            <label class="form-one__label">Придумайте пароль</label>
            <input class="form-one__input" type="password" placeholder="Нужен надежный пароль" value="">
        </div>
        <div class="form-one__line">
            <label class="form-one__label">Подтвердите пароль</label>
            <input class="form-one__input" type="password" placeholder="Пароль еще раз" value="">
        </div>
        <div class="form-one__line">
            <div class="checkbox-one">
                <input class="checkbox-one__input" type="checkbox" value="" id="checkbox-one">
                <label class="checkbox-one__label form-one__label" for="checkbox-one">
                    Согласен с <a href="javascript:;">Условиями</a>
                </label>
            </div>
        </div>
        <div class="form-one__btn">
            <button type="submit" class="btn btn-red btn-lg">Регистрация</button>
        </div>
    </div>

</div>

<%= _.template(require('./../includes/footer.html'))(data) %>